*{
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100vh;
    font-family: 'Arial','Times New Roman','Courier New', 'Courier', 'monospace';
    font-size: 18px; 
    margin: 5 auto; 
}
.bodyframe{
    background-image: url("/images/desk.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    
}
.flexcontent{
    z-index: inherit;
    position: absolute;
    top: 50px; 
    text-align: left;  
    color:gray;     
   
}
figure{
    margin-left: 5px;
}
.btn{
    border-radius: 3rem;
}
.btn a{
    color:whitesmoke;
}
.btn a:hover{
    color: var(--main-color);
    text-decoration: none;
}
#center img{
    border: 1px solid gray;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;   
    transition: .5s ease;
}
#center:hover img{
    transform: scaleX(1.1); 
}
.icon{
    animation: appear 2s ease forwards;
    opacity: 0;
}
.icon1{
    animation-delay: 0.1s;
}
.icon2{
    animation-delay: 0.5s;
}
.icon3{
    animation-delay: 1s;
}
.icon4{
    animation-delay: 1.5s;
}
@keyframes appear 
{
    to{
        opacity: 1;
    }
}
/* set header tag to bounce */
@keyframes bounce{
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%{
        transform: translateY(-20px);
    }
    60%{
        transform: translateY(-10px);
    }
}
.bounce{
    animation: bounce 2s infinite;
}

input{
    color:#000;
    border-radius: 3rem;
    width: 7rem;
    text-decoration: none;
}
input:hover{
    color: #fff;
    text-decoration: none;
}
@keyframes expand-contrast-animation{
    0%{
        transform: scale(0);
        background-color: lightgrey;
    }
    50%{
        transform: scale(1.2);
        background-color: #f35dd3;
    }
    100%{
        transform: scale(1);
    }
}
.expand-contrast {
    background-color: lightgrey;
    column-rule: #fff;
    cursor: pointer;
    animation: expand-contrast-animation 2s ease;
}
.social-media a{
    transition: .3s;
    text-decoration: none;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    transition: 0.5s ease;
}
.social-media a:hover{
    color: var(--main-color);
    text-decoration: none;
    
}

/* -----------------meddia screen-----------*/
@media only screen and (min-width:992px){
    .container{
        width: 100%; 
        height: 100vh ;
    }
    figure{
            margin-left: 5px;   
    }
    .flexcontent{
        left:8%;
        align-content: center;
        margin: 2 auto;
    }
        .flexcontent figure{
            margin-left: 5px;  
    }
    #center:hover img{
        transform: scaleX(1.1); 
    }
}
@media only screen and (min-width:400px){
    .container{
        width: 100%; 
        
    }
    figure{
        margin-left: 5px;   
    }
    .flexcontent{
        left:5%;
        right: 2%;
        align-content: center;
        margin: 2 auto;
}
    .flexcontent figure{
        margin-left: 5px;
}
}